@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --color-green-positive: 60, 187, 180;
    --color-yellow-negative: 249, 173, 29;
    --color-dark-background: rgba(0, 0, 0, .4);
    --color-darker-background: rgba(0, 0, 0, .6);
    --color-darker-gray: rgba(51, 51, 51, 1);
    --color-dark-gray: rgba(70, 70, 70, 1);
    --color-light-gray: rgba(235, 235, 235, 1);
    --color-light-background: rgba(255, 255, 255, .4);
    --color-lighter-background: rgba(255, 255, 255, .8);
    --color-white: rgba(255, 255, 255, 1);
}

.div_global{
    display: grid;
    grid-template-rows: 80% 20%;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: var(--color-white);
    font-family: 'Lato', sans-serif;
}

.thumbsUp{
    display: flex;
    position: absolute;

    top: 175px;

    justify-content: center;
    align-items: center;

    margin-top: -80px;

    background-color: rgb(60, 187, 180);
    width: 30px;
    height: 30px;
}

.div_info{
    display: flex;
    flex-direction: column;

    margin-top: 38.8%;
}

.info__description{
    margin-left: 36px;
    width: 80%;
}

.info__div_first p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 15px;
    line-height: 18px;

    font-weight: 400;
}

.info__div_first{
    display: flex;
    flex-direction: column;
}

.info__div_first span {
    font-weight: 400;
    font-size: 30px;

    line-height: 36px;

    margin-left: 30.77px;
}

.info__div_second{
    display: flex;
    flex-direction: column;

    align-items: end;

    margin-right: 34px;
}

.info__div_second span{
    margin-left: 2px;

    font-size: 12px;
    font-weight: 400;
}

.second__div_span{
    margin-bottom: 12px;
}

.second__div_buttons{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buttons_voteNow{
    width: 107px;
    height: 38px;
    border: 1px solid #ffff;

    background-color: #30303099;

    color: #ffff;

    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.buttons_up{
    display: flex;

    justify-content: center;
    align-items: center;

    border: none;

    background-color: rgb(60, 187, 180);
    width: 30px;
    height: 30px;
}

.buttons_down{
    display: flex;

    justify-content: center;
    align-items: center;

    border: none;

    background-color: #FBBD4A;
    width: 30px;
    height: 30px;
}

.div_percentage{
    display: flex;

    justify-content: space-between;
}




