.div_head{
    margin-bottom: 24px;
}

.div_head span{
    font-size: 24px;
    line-height: 28.8px;

    font-weight: 300;
}

.div_slider{
    width: calc(100% - 50px); /* Adjust the width to account for the 10px gap on each side */
}